extends layout
block content
  h3 Add Results
  hr
  #container(style="margin-bottom:60px;")
    form(action="/addResults", method="POST")
      
      label(for="categories") categories
      select#categories(name="category")
      
      label(for="winner") Winner
      select#winner(name="winner")
        option --Select Item--
     

      label(for="price") Price
      select#price(name="price")
       option 100
       option 200
       option 300
       option 400
       option 500
      
      input(type="submit", value="Save")
      
  #winners
    table.table.table-hover.table-bordered
      thead
        th Category
        th Winner
        th Price
        th Amount Invested
        th Voters
        th Winners
      tbody
  script(src="/javascripts/addResults.js")
