extends layout
block content
  h3 Add Results
  hr
  #container
    form(action="/addResults", method="POST")
      
      label(for="categories") categories
      select#categories(name="category")
      
      label(for="winner") Winner
      select#winner(name="winner") 
     

      label(for="price") Price
      select#price(name="price")
       option 100
       option 200
       option 300
       option 400
       option 500
      
      input(type="submit", value="Save")
      
      script(src="/javascripts/addResults.js")
