doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/smart_wizard_vertical.css')
  body
    block content
    
    script(src="/javascripts/jquery-2.0.0.min.js")
    script(src="/javascripts/jquery.smartWizard.js")
    script(src="/javascripts/global.js")
