extends layout
block content
  h3 Winning Categories
  hr
  .modal-content(style="width:200px; margin-left:450px; text-align:center")
    h3 Loading
    img(src="images/default.gif")
  #winners
    table.table.table-hover.table-bordered
      thead
        th Category
        th Winner
        th Price
        th Amount Invested
        th Voters
        th Winners
      tbody
  h3 Winners By Category
  hr
  #container
  #summary
      
  script(src="/javascripts/results.js")
