extends layout
block content
  #winners
    table.table
      thead
        td Category
        td Winner
        td Price
        td Amount Invested
        td Voters
      tbody
      
      
  script(src="/javascripts/results.js")
