extends layout
block content
  #winners
    table.table
      thead
        th Category
        th Winner
        th Price
        th Amount Invested
        th Voters
      tbody
  
  #container   
      
  script(src="/javascripts/results.js")
