extends layout
block content
  .modal-content(style="width:200px; margin-left: auto; margin-right: auto; text-align:center", display="none")
    h3 Loading
    img(src="images/default.gif")
  h3 Winning Categories
  hr
  
  #winners
    table.table.table-hover.table-bordered
      thead
        th Category
        th Winner
        th Price
        th Amount Invested
        th Voters
        th Winners
      tbody
  h3 Winners By Category
  hr
  #container
  h3 Categories Without Winners
  hr
  #noWinners
  #summary
      
  script(src="/javascripts/results.js")
